/* General */

body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 300;
    background-color: #f9f9f9;
}

.container {
    width: 100%;
}

button {
    background: #02a8f9;
    border-radius: 4px;
    border: none;
    padding: 14px 26px;
    color: white;
    font-weight: 600;
    font-size: 1em;
    outline: none;
}

/* Nav */

.nav {
    background-image: linear-gradient(179deg, #05d3fd 0%, #02a8f9 100%);
    height: 72px;
    display: grid;
    grid-template-columns: 180px 1fr;
    align-items: center;
    column-gap: 24px;
    padding: 0 20px;
    color: white;
}

.nav a {
    color: white;
    text-decoration: none;
}

.nav .logo {
    justify-content: center;
    display: flex;
}

.nav .nav-items ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.nav .nav-items ul li {
    display: inline;
    padding-right: 20px;
}

.nav .nav-items-desktop {
    display: block;
}

.nav .nav-items-mobile {
    display: none;
    text-align: right;
}

/* Nav: Mobile */

@media only screen and (max-width: 768px) {
    .nav .logo {
        justify-content: left;
    }

    .nav .nav-items-desktop {
        display: none;
    }

    .nav .nav-items-mobile {
        display: block;
    }
}

/* Hero */

.hero {
    height: 740px;
    background-image: url(images/hero-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    place-items: stretch;
    align-items: center;
    padding: 0 40px;
}

.hero .cta {
    grid-column: 6 span;
    height: 290px;
    display: block;
    background: rgba(0, 0, 0, 0.4);
    padding: 40px;
    border-radius: 10px;
}

.hero .cta h1 {
    color: white;
    font-weight: normal;
    font-size: 50px;
}

/* Hero: Mobile */
@media only screen and (max-width: 768px) {
    .hero {
        padding: 0 10px;
        height: 576px;
    }

    .hero .cta {
        grid-column: 10 span;
        padding: 30px;
        height: auto;
    }
}

/* Content */

.content {
    max-width: 1140px;
    margin: auto;
    color: #5c5c5c;
}

.content h1 {
    font-size: 46px;
    font-weight: 400;
}

.content p {
    line-height: 28px;
}

.header-mobile {
    display: none;
}

.header-desktop {
    display: block;
}

/* Content: Mobile */
@media only screen and (max-width: 768px) {
    .content {
        margin: 0 40px;
    }

    .content h1 {
        text-align: center;
    }

    .header-mobile {
        display: block;
    }

    .header-desktop {
        display: none;
    }
}

/* Intro */

.intro {
    display: grid;
    grid-template-columns: 54% 46%;
    margin: 40px 0;
}

.intro .photo img {
    box-shadow: 10px 10px 20px -4px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    max-width: 500px;
}

.intro .text {
    padding-right: 80px;
}

.intro .photo-mobile {
    display: none;
}

.intro .photo-desktop {
    display: block;
}

/* Intro: Mobile  */
@media only screen and (max-width: 768px) {
    .intro {
        display: block;
    }

    .intro .photo img {
        max-width: fit-content;
    }

    .intro .photo-mobile {
        display: block;
    }

    .intro .photo-desktop {
        display: none;
    }

    .intro .text {
        padding-right: 0;
    }
}

/* Features */

.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin: 0 40px 22vh;
}

.features h1 {
    grid-column: span 3;
    justify-self: center;
    padding: 40px 0 80px 0;
    margin: 0;
}

.features .feature {
    justify-self: center;
    width: 100%;
}

.features .feature .feature-image {
    align-content: center;
    display: flex;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 40px;
}

.features .feature .feature-image img {
    max-width: 146px;
    max-height: 146px;
}

.features .feature .feature-copy {
    color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    font-weight: 400;
}

@media only screen and (max-width: 768px) {
    .features {
        display: block;
        padding: 0 40px;
    }

    .features .feature {
        margin-bottom: 4vh;
    }
}

/* Signup Form */

.signup-form {
    margin: 0 40px 22vh;
}

.signup-form h1 {
    text-align: center;
}

.signup-form form {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 20px;
    margin: 60px 0;
}

.signup-form form .form-item {
    display: grid;
    justify-content: stretch;
    padding: 0 10px;
}

.signup-form form .form-item.form-checkbox {
    display: block;
}

.signup-form form .form-item label {
    display: block;
    font-size: 20px;
    font-weight: 400;
}

.signup-form form .form-item input {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 10px;
}

/* Signup Form: Mobile */
@media only screen and (max-width: 768px) {
    .signup-form {
        margin-left: 0;
        margin-right: 0;
    }

    .signup-form form {
        display: block;
        margin: 60px 0;
    }

    .signup-form form .form-item {
        margin-bottom: 2vh;
    }
}

/* Footer */

footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: #4d4d4d;
    padding: 40px;
    color: #c2c2c2;
}

footer a {
    color: white;
    text-decoration: none;
}

footer .address {
    grid-column: span 3;
}

footer .address img {
    margin-bottom: 30px;
}

footer .navigation {
    grid-column: span 9;
}

footer .navigation nav a {
    display: block;
    margin: 10px 0;
}

footer .navigation .social {
    padding-top: 20px;
}

footer .navigation .social a {
    margin-right: 10px;
}

/* Signup Form: Footer */
@media only screen and (max-width: 768px) {
    footer {
        display: block;
    }

    footer .address {
        margin-bottom: 20px;
    }
}
/* Blog */

.content {
    min-width: 100%;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: auto;
}
.bannerContainer {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 1250px;
    height: 450px;
    max-width: 95%;
    max-height: 30vh;
    border-radius: 25px;
    margin-top: 5em;
}

.bannerContainer > img {
    z-index: 1;
    position: absolute;
    width: 100%;
    transition: transform 0.2s ease-in-out;
}

.bannerContainer:hover > img {
    transform: scale(1.1);
}

.title {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.description,
.byline {
    max-width: 95%;
    width: 700px;
    font-size: 1.2rem;
    font-weight: 600;
}

.byline {
    color: #8d8d8d;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem;
    font-size: 1rem;
}

.share {
    max-width: 95%;
    width: 500px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.share > a > img {
    width: 30px;
}

.body {
    margin-bottom: 4rem;
    max-width: 95%;
    width: 900px;
}

/* Main page */

.mainContent {
    max-width: 95%;
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-self: space-evenly;
    margin: auto;
}

.flipCard {
    background-color: transparent;
    perspective: 1000px;
    max-width: 400px;
    width: 400px;
    height: 533px;
    max-height: 533px;
    min-height: 283px;
    min-width: 250px;
    flex: 1 0 400px;
    margin-top: 1rem;
    margin-bottom: 10px;
    position: relative;
    top: 0;
    transition: top 0.6s ease;
    margin: 5rem auto;
}
.flipCard .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3), 0 12px 40px 0 rgba(0, 0, 0, 0.29);
}
.flipCard .innerCard .frontCard,
.flipCard .innerCard .backCard {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}
.flipCard .innerCard .frontCard {
    transform: rotateY(180deg);
}
.flipCard .innerCard .frontCard img {
    width: 100%;
    height: 100%;
    z-index: 100;
    border-radius: 10px;
}
.flipCard .innerCard .backCard {
    background-color: white;
    padding: 1rem;
    text-align: left;
    top: 0;
}
.flipCard .innerCard .backCard .productHeader hr {
    margin-left: 0;
    margin-top: 0.25rem;
}
.flipCard .innerCard .backCard .productContents {
    margin-top: 50%;
}
.flipCard .innerCard .backCard .productContents p {
    margin-bottom: 1rem;
}
.flipCard:hover {
    top: 10px;
}
.flipCard:hover .innerCard {
    transform: rotateY(0deg);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
